<div class="wallets-list">
    {% for wallet in wallets %}
    <div class="wallet-box">
        <div class="wallet-info">
            <img src="{{url_for('static',filename='icons/wallet/wallet_balance.svg')}}">
            <p class="wallet-name">{{wallet.name}}</p>
        </div>

        <div class="actions">
            <a class="link-button open" href="{{url_for('user.account.open_wallet', walletId=wallet.id)}}">
                <p>open</p>
                <img src="{{url_for('static',filename='icons/navigate_next.svg')}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>