<div class="accounts-list">
    {% for account in accounts %}
    <div class="account-box">
        <div class="account-info">
            <img src="{{url_for('static',filename='icons/account/account.svg')}}">
            <p class="account-name">{{account.name}}</p>
        </div>

        <div class="actions">
            <a class="link-button open" href="{{url_for('user.open_account',account_id=account.id)}}">
                <p>open</p>
                <img src="{{url_for('static',filename='icons/navigate_next.svg')}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>