{% extends 'index.html' %}


{% block title %}
user page
{% endblock %}


{% block links %}
{{super()}}
<link rel="stylesheet" href="{{url_for('user.static', filename='css/user.css')}}">
<link rel="stylesheet" href="{{url_for('user.static', filename='css/accountsList.css')}}">
{% endblock %}


{% block main %}
<div class="wrapper">
    <div class="user-info">
        <img class="user-picture" src="{{url_for('static',filename='icons/nav/profile_circle.svg')}}">
        <div class="user-description">
            <div class="user-description-item">
                <img src="">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>

    <nav id="user-nav">
        <p class="block-header">Accounts list</p>

        <button class="nav-item" onclick="toggleModalWindow()">
            <p>new</p>
            <img class="nav-item-icon" src="{{url_for('static',filename='icons/account/account.svg')}}">
        </button>
    </nav>

    {% include 'accountsList.html' %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{url_for('user.static',filename='js/createAccount.js')}}" defer></script>
{% endblock%}


{% include 'createAccountModalWindow.html' %}