{% extends 'index.html' %}

{% block links %}
{{super()}}
<link rel="stylesheet" href="{{url_for('login.static',filename='css/login.css')}}">
{% endblock %}

{% block main %}
<form id="signin-form" action="{{url_for('login.sign_in')}}" method="post">
    <input id="signin-login" type="login" name="login" placeholder="login" required>
    <input id="signin-password" type="password" name="password" placeholder="password" required>
    <button id="signin-button" type="submit">sign in</button>
    <a id="registration-suggest" href="{{url_for('signup.main')}}">Have no account? Sign up!</a>
</form>
{% endblock %}