{% extends 'index.html' %}

{% block links %}
{{super()}}
<link rel="stylesheet" href="{{url_for('login.static',filename='css/signup.css')}}">
{% endblock %}

{% block main %}
<form id="signup-form" action="{{url_for('signup.register_user')}}" method="post">
    <input id="signup-email" type="email" name="email" placeholder="email" required>
    <input id="signup-name" type="text" name="login" placeholder="login" required>
    <input id="signup-password" type="password" name="password" placeholder="password" required>
    <button id="signup-button" type="button" onclick="submitForm()">sign up</button>
</form>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('signup.static',filename='js/checkUserSignup.js')}}"></script>
{% endblock%}