.server-answer {
  font-weight: bolder;
  font-size: 16px;
}

.server-answer.joined {
  color: var(--green-acent);
}

.server-answer.disconnected {
  color: var(--red-acent);
}

.chat-item-label {
  color: var(--grey-3);

  font-weight: bolder;
  font-size: 16px;
}

.chat-item-data {
  color: var(--grey-3);

  font-size: 16px;
}

.chat-item-date {
  font-size: 16px;
  color: var(--grey-1);
}

#chat {
  display: flex;
  flex-direction: column;

  min-height: 100px;
  max-height: 500px;
  overflow-y: scroll;

  border: 1px solid var(--grey-1);
  border-radius: 3px;
}
