.connection-section {
  display: grid;
  grid-template-columns: 50% 20% auto auto auto;

  justify-content: flex-start;
  align-items: flex-end;

  margin-top: 50px;
  margin-bottom: 30px;
}

.connection-section > * {
  margin-right: 10px;
}

#status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#status[state~="off"] {
  background-color: var(--red-acent);
}

#status[state~="on"] {
  background-color: var(--green-acent);
}

.input-item {
  display: flex;
  flex-direction: column;
}

.input-item > * {
  height: 30px;
}
