.field-descriptor{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 1em;

    padding: 0.5em;

    border: 1px solid grey;
    border-radius: 5px;
}

.field-descriptor p{
    justify-self: start;
}

.field-descriptor span{
    font-weight: bolder;
}

.field-descriptor button{
    justify-self: end;
}

#fields-descriptors{
    display: flex;
    flex-direction: column;
    gap: 1em;
}