*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding: 5em 0em;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2em;

    width: 40%;
}

button{
    width: fit-content;
    padding: 0.5em 1em;
}

input{
    padding: 0.5em;

    border: 1px solid gray;
    border-radius: 5px;

}