<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('home.static',filename='css/index.css')}}">
</head>

<body>
    <h1 class="page-name">.c files online compiler</h1>

    {% include 'navbar.html' %}

    <main>
        <form action="/home/" method="post" enctype="multipart/form-data" id="usr-form" name="usr-form">
            <input type="file" name="usr_file" id="usr-file" required>
            <button type="submit" class="btn-submit" name="submit_btn" value="submit">Compile</button>
        </form>

        {% if can_download %}
        <a href="{{url_for('home.download')}}">Download compiled file</a>
        {% endif %}
    </main>
</body>

</html>