.modal-window button {
  width: fit-content;
  padding: 0.5em 1em;
}

.modal-window-content > form input {
  padding: 0.5em;
}

.modal-window {
  position: fixed;
  margin: 0;
  padding: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);
}

.modal-window.show {
  display: grid;
  place-items: center;
}

.modal-window-content {
  display: flex;
  flex-direction: column;
}
